.video{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 520px;
  height: 520px;
}
#video-inside{
 text-align:center; 
}
#text{
  color:#c00917;
  font-family:Fraunces;
  font-size:20;
}
#qoute{
  font-family:Hachi Maru Pop;
  color:#00917c;
  font-size:25;
}
